/*----------------------- Global----------------------------------------- */
:root {
  --primary-color: rgb(43, 89, 176);
  --thema-color: #FD0F00;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

a:hover {
  text-decoration: none;
  color: #fff;
}

small a {
  text-decoration: none;
  color: var(--primary-color);

}

small a:hover {
  text-decoration: none;
  color: var(--primary-color);
}

/*------------------------ Header------------------------------------ */

#header .categories .menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  border-radius: 100px;
}

#header .categories {
  line-height: 4.5em;
}

#header .categories.container {
  padding: 0 2.5em;
}

#header .categories .menu li {
  display: inline-block;
  margin-right: 1em;
}

#header .categories .menu li {
  position: relative;
  transition: .2s;
  font-size: 1.15em;
  font-weight: 500;
  color: #616c72;
  border: 1px solid #b3b3b2;
  outline: 0;
  padding: 0 1.2em;
  border-radius: 1.6em;
  cursor: pointer;
  line-height: 42px;
  height: 43px;
  display: inline-block;
  min-width: 3.5em;
  /* background: #f6f7f8; */
}

#header .categories .menu li:hover {
  background-color: var(--thema-color);
  color: #fff;
  border: var(--thema-color);
}

#header div.header-row-2 {
  /* background-color: #f6f7f8; */
}

#header div.header-row-1 {
  background-color: var(--thema-color);
  height: 5em;
  padding-left: 5em;
  padding-right: 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 1.1em;

}

#header .menu.right {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1em;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
}

#header div.header-row-1 .container>* {
  flex: 1;
}


/* -----------------------------SubHeader--------------------------- */

.sub-header-item.active {
  background-color: var(--thema-color);
  color: #fff !important;
  border: var(--thema-color) !important;
}

.sub-header-item:hover {
  background-color: var(--thema-color);
  color: #fff !important;
  border: var(--thema-color) !important;
}

/* .content {
  display: flex;
  align-items: center;
}

.content::after {
  background-color: #e1e1e1 !important;
  content: "" !important;
  height: 1px !important;
  width: 100% !important;
  left: 1em !important;
  position: relative !important;
} */

/*-------------------------Bus Def------------------------------- */
.increment-button {
  /* background-color: #b3b3b2; */
  width: 40px;
  height: 40px;
}

.decrement-button {
  /* background-color: #b3b3b2; */
  width: 40px;
  height: 40px;
}

/*------------------------ BuyTicket----------------------------- */

.buy-ticket-button {
  background-color: var(--primary-color);
  color: #fff;
}

.buy-ticket-button:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.gender button.woman,
button.man {
  border: 1px solid var(--thema-color);
  color: var(--thema-color);
  margin-right: 10px;
}

.gender button.woman.active,
button.man.active {
  background-color: var(--thema-color);
  color: #fff;
}

.gender button.woman:hover,
button.man:hover {
  background-color: var(--thema-color);
  color: #fff;
}

/* ----------------SEAT------------------------- */

.bus {
  width: 250px;
  height: 639px;
  overflow: auto;
  display: table-cell;
  position: relative;
}

.fromProvince::after {
  color: var(--thema-color);
  content: "";
  height: 1px;
  left: 15;
  margin-top: -1px;
  position: absolute;
  display: block;
  top: 50%;
  width: 50%;
  /* content: "--------------->" !important;
  height: 1px !important;
  width: 100% !important;
  left: 1em !important;
  position: relative !important; */
}

.toProvince::before {
  color: var(--thema-color);
  content: "";
  height: 1px;
  left: 15;
  margin-top: -1px;
  position: absolute;
  display: block;
  top: 50%;
  width: 50%;
}

.filter-voyage {
  background-color: var(--primary-color);
  color: white;
}

.filter-voyage:hover {
  background-color: var(--primary-color);
  color: white;
}

.voyage-info.info {
  width: 100%;
}

.voyage-info.info>div {
  width: 40%;
  display: flex;
}

.voyage-info.info .voyage-info.from span::after {
  content: "→";
  position: absolute;
  margin-left: 0.7em;
}

.voyage-info.info .voyage-info.fee {
  text-align: end;
}

.voyage-info.info .voyage-info.fee span {
  font-size: 32px;
  font-weight: bold;
}

.voyage-info.filteredVoyageList {
  width: 50%;
}

.voyage-info.allVoyageList {
  width: 35%;
}

.voyage-info.from span,
.to span {
  font-weight: bold;
  display: inline;
  text-transform: capitalize;
}

.voyage-info.from span {
  margin-left: 10px;
}

.voyage-info.seat.full,
.seat.empty,
.seat.time {
  display: inline;
}

.voyage-info.seat.full span,
.seat.empty span,
.seat.time span {
  font-size: 15px;
  font-weight: 600;
}

.voyage-info.seat span,
.fee span,
.date span,
.time span {
  display: inline;
}

.full-seats label,
.remaining-time label,
.empty-seats label {
  font-size: small;
  font-weight: 600;
}

.voyage-info.filteredVoyageList .voyage-info.from span::after {
  content: "→";
  position: absolute;
  margin-left: 7px;
}

.voyage-info.allVoyageList .voyage-info.from span::after {
  content: "→";
  position: absolute;
  margin-left: 0.6em;
}

.buy-ticket-user-info {
  height: fit-content;
}