.selectedType2.koltuk1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 1px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType2.koltuk2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 2px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType2.koltuk3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 3px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType2.koltuk4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 4px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType2.koltuk5 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 5px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType2.koltuk6 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 6px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType2.koltuk7 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 7px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType2.koltuk8 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 8px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType2.koltuk9 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 9px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType2.koltuk10 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 10px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType2.koltuk11 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 11px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType2.koltuk12 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 12px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType2.koltuk13 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 13px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType2.koltuk14 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 14px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType2.koltuk15 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 15px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType2.koltuk16 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 16px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType2.koltuk17 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 17px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType2.koltuk18 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 18px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType2.koltuk19 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 19px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType2.koltuk20 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 20px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType2.koltuk21 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 21px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType2.koltuk22 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 22px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType2.koltuk23 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 23px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType2.koltuk24 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 24px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType2.koltuk25 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 25px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType2.koltuk26 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 26px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType2.koltuk27 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 27px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType2.koltuk28 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 28px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType2.koltuk29 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 29px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType2.koltuk30 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 30px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType2.koltuk31 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 31px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType2.koltuk32 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 32px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType2.koltuk33 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 33px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType2.koltuk34 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 34px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType2.koltuk35 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 35px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType2.koltuk36 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 36px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType2.koltuk37 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 37px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType2.koltuk38 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 38px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType2.koltuk39 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 39px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType2.koltuk40 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 40px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType2.koltuk41 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 41px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType2.koltuk42 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 42px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType2.koltuk43 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 43px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType2.koltuk44 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 44px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType2.koltuk45 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 45px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType2.koltuk46 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 46px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType2.koltuk47 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 47px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType2.koltuk48 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 48px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType2.koltuk49 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 49px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType2.koltuk50 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 50px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType1.koltuk1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 1px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType1.koltuk2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 2px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType1.koltuk3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 3px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType1.koltuk4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 4px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType1.koltuk5 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 5px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType1.koltuk6 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 6px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType1.koltuk7 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 7px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType1.koltuk8 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 8px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType1.koltuk9 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 9px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType1.koltuk10 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 10px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType1.koltuk11 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 11px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType1.koltuk12 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 12px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType1.koltuk13 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 13px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType1.koltuk14 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 14px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType1.koltuk15 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 15px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType1.koltuk16 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 16px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType1.koltuk17 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 17px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType1.koltuk18 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 18px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType1.koltuk19 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 19px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType1.koltuk20 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 20px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType1.koltuk21 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 21px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType1.koltuk22 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 22px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType1.koltuk23 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 23px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType1.koltuk24 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 24px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType1.koltuk25 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 25px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType1.koltuk26 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 26px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType1.koltuk27 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 27px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType1.koltuk28 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 28px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType1.koltuk29 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 29px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType1.koltuk30 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 30px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType1.koltuk31 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 31px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType1.koltuk32 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 32px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType1.koltuk33 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 33px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType1.koltuk34 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 34px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType1.koltuk35 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 35px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType1.koltuk36 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 36px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType1.koltuk37 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 37px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType1.koltuk38 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 38px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType1.koltuk39 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 39px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType1.koltuk40 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 40px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType1.koltuk41 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 41px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType1.koltuk42 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 42px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType1.koltuk43 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 43px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType1.koltuk44 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 44px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType1.koltuk45 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 45px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType1.koltuk46 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 46px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType1.koltuk47 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 47px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType1.koltuk48 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 48px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType1.koltuk49 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 49px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType1.koltuk50 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 50px);
  text-align: center;
  background: url("../images/koltuk.png");
}

.selectedType2.koltuk1.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 1px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType2.koltuk2.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 2px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType2.koltuk3.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 3px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType2.koltuk4.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 4px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType2.koltuk5.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 5px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType2.koltuk6.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 6px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType2.koltuk7.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 7px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType2.koltuk8.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 8px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType2.koltuk9.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 9px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType2.koltuk10.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 10px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType2.koltuk11.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 11px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType2.koltuk12.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 12px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType2.koltuk13.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 13px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType2.koltuk14.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 14px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType2.koltuk15.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 15px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType2.koltuk16.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 16px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType2.koltuk17.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 17px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType2.koltuk18.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 18px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType2.koltuk19.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 19px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType2.koltuk20.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 20px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType2.koltuk21.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 21px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType2.koltuk22.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 22px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType2.koltuk23.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 23px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType2.koltuk24.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 24px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType2.koltuk25.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 25px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType2.koltuk26.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 26px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType2.koltuk27.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 27px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType2.koltuk28.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 28px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType2.koltuk29.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 29px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType2.koltuk30.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 30px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType2.koltuk31.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 31px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType2.koltuk32.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 32px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType2.koltuk33.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 33px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType2.koltuk34.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 34px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType2.koltuk35.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 35px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType2.koltuk36.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 36px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType2.koltuk37.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 37px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType2.koltuk38.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 38px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType2.koltuk39.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 39px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType2.koltuk40.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 40px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType2.koltuk41.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 41px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType2.koltuk42.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 42px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType2.koltuk43.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 43px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType2.koltuk44.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 44px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType2.koltuk45.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 45px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType2.koltuk46.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 46px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType2.koltuk47.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 47px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType2.koltuk48.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 48px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType2.koltuk49.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 49px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType2.koltuk50.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 50px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType1.koltuk1.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 1px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType1.koltuk2.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 2px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType1.koltuk3.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 3px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType1.koltuk4.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 4px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType1.koltuk5.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 5px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType1.koltuk6.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 6px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType1.koltuk7.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 7px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType1.koltuk8.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 8px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType1.koltuk9.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 9px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType1.koltuk10.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 10px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType1.koltuk11.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 11px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType1.koltuk12.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 12px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType1.koltuk13.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 13px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType1.koltuk14.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 14px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType1.koltuk15.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 15px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType1.koltuk16.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 16px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType1.koltuk17.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 17px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType1.koltuk18.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 18px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType1.koltuk19.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 19px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType1.koltuk20.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 20px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType1.koltuk21.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 21px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType1.koltuk22.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 22px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType1.koltuk23.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 23px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType1.koltuk24.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 24px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType1.koltuk25.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 25px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType1.koltuk26.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 26px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType1.koltuk27.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 27px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType1.koltuk28.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 28px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType1.koltuk29.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 29px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType1.koltuk30.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 30px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType1.koltuk31.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 31px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType1.koltuk32.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 32px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType1.koltuk33.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 33px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType1.koltuk34.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 34px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType1.koltuk35.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 35px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType1.koltuk36.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 36px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType1.koltuk37.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 37px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType1.koltuk38.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 38px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType1.koltuk39.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 39px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType1.koltuk40.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 40px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType1.koltuk41.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 41px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType1.koltuk42.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 42px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType1.koltuk43.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 43px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType1.koltuk44.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 44px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType1.koltuk45.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 45px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType1.koltuk46.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 46px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType1.koltuk47.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 47px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType1.koltuk48.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 48px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType1.koltuk49.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 49px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}

.selectedType1.koltuk50.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: calc(47* 50px);
  text-align: center;
  background: url("../images/koltuk-secili.png");
}/*# sourceMappingURL=seat.css.map */